@font-face {
  font-family: "museo-sans";
  src:
    url("/fonts/museo-sans-500.woff2") format("woff2"),
    url("/fonts/museo-sans-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "museo-sans";
  src:
    url("/fonts/museo-sans-500-italic.woff2") format("woff2"),
    url("/fonts/museo-sans-500-italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "museo-slab";
  src:
    url("/fonts/museo-slab-500.woff2") format("woff2"),
    url("/fonts/museo-slab-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "museo-slab";
  src:
    url("/fonts/museo-slab-500-italic.woff2") format("woff2"),
    url("/fonts/museo-slab-500-italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
