@import "tailwindcss";

@import "./fonts.css";

@theme {
  --color-primary: #0079a2;
  --color-secondary: #f1b435;

  --font-sans: "museo-sans", sans-serif;
  --font-serif: "museo-slab", serif;

  --breakpoint-nav: 1135px;
}

html,
body {
  font-family: var(--font-sans);
}
