---
import { getInvolvedLink } from "../content/get-involved-link";
import HamburgerIcon from "./hamburger-icon.astro";
import NavigationLink from "./navigation-link.astro";
import NavigationLogo from "./navigation-logo.astro";
---

<div class="flex items-center justify-between lg:hidden">
  <NavigationLogo />
  <details class="relative">
    <summary
      class="cursor-pointer list-none rounded-md p-2 text-primary transition-colors duration-300 hover:text-secondary"
    >
      <HamburgerIcon />
    </summary>
    <div
      class="absolute right-0 mt-3 w-56 rounded-lg border border-secondary/10 bg-white p-5 shadow-lg"
    >
      <ul class="flex flex-col gap-4 text-left">
        <NavigationLink href="/alumni-connection"
          >ALUMNI CONNECTION</NavigationLink
        >
        <NavigationLink href="/alumni-storytelling">
          ALUMNI STORYTELLING
        </NavigationLink>
        <NavigationLink href="/futures-funded">FUTURES FUNDED</NavigationLink>
        <NavigationLink
          href={getInvolvedLink}
          attributes={{ target: "_blank", rel: "noopener noreferrer" }}
          border>GET INVOLVED</NavigationLink
        >
      </ul>
    </div>
  </details>
</div>
