---
import DesktopNavigation from "./desktop-navigation.astro";
import MobileNavigation from "./mobile-navigation.astro";
---

<header>
  <nav class="container mx-auto max-w-7xl p-8">
    <MobileNavigation />
    <DesktopNavigation />
  </nav>
</header>
