---
import { Image } from "astro:assets";

import logoHorizontal from "../../images/logo-horizontal.png";
---

<a href="/">
  <Image src={logoHorizontal} alt="MNPS Alumni Foundation" width="300" />
</a>
