---
type Props = {
  href: string;
};

const { href } = Astro.props;
---

<li>
  <a
    href={href}
    class="text-primary transition-colors duration-300 hover:text-secondary"
  >
    <slot />
  </a>
</li>
