---
import NavigationLink from "./navigation-link.astro";
---

<header>
  <nav class="container mx-auto p-8">
    <ul class="flex items-center justify-center gap-20">
      <NavigationLink href="/">
        <img src="/favicon.svg" alt="MNPS Alumni Foundation" />
      </NavigationLink>
      <NavigationLink href="/">ALUMNI CONNECTION</NavigationLink>
      <NavigationLink href="/">ALUMNI STORIES</NavigationLink>
      <NavigationLink href="/">FUTURES FUNDED</NavigationLink>
      <NavigationLink href="/" border>GET INVOLVED</NavigationLink>
    </ul>
  </nav>
</header>
