---

---

<p class="text-xs leading-relaxed text-white/70">
  The MNPS Alumni Foundation is a registered nonprofit corporation in the State
  of Tennessee. Our application for 501(c)(3) tax-exempt status is currently
  pending with the IRS. If our application is approved, our tax-exempt status
  will be effective retroactive to our date of incorporation on August 23, 2024.
  Consequently, your contribution may become tax-deductible retroactively. We
  will provide an updated tax receipt once our final determination letter is
  received, but we advise you to consult your tax professional regarding the
  deductibility of your gift.
</p>
