---
import { socialMediaLinks } from "../content/social-media-links";
import FooterHeader from "./footer-header.astro";
import FooterLink from "./footer-link.astro";
import FooterLogo from "./footer-logo.astro";

const { facebookLink, instagramLink, linkedinLink } = socialMediaLinks;
---

<section class="min-h-70 bg-primary pt-16 text-white">
  <div class="mx-auto max-w-7xl px-6">
    <div class="grid grid-cols-1 gap-y-10 max-md:pb-4 md:grid-cols-10">
      <div class="md:col-span-5">
        <div class="mb-5">
          <FooterLogo />
        </div>

        <p>
          MNPS Alumni Foundation: Alumni Connected. Stories Amplified. Futures
          Funded.
        </p>
      </div>

      <div class="hidden md:col-span-1 md:block"></div>

      <div class="md:col-span-2">
        <FooterHeader title="Learn More" />
        <ul class="list-none space-y-1 p-0">
          <li>
            <FooterLink href="/alumni-connection" text="Alumni Connection" />
          </li>
          <li>
            <FooterLink
              href="/alumni-storytelling"
              text="Alumni Storytelling"
            />
          </li>
          <li>
            <FooterLink href="/futures-funded" text="Futures Funded" />
          </li>
        </ul>
      </div>

      <div class="md:col-span-2">
        <FooterHeader title="Follow us" />
        <ul class="list-none space-y-1 p-0">
          <li>
            <FooterLink
              href={facebookLink}
              text="Facebook"
              attributes={{ target: "_blank", rel: "noreferrer" }}
            />
          </li>
          <li>
            <FooterLink
              href={instagramLink}
              text="Instagram"
              attributes={{ target: "_blank", rel: "noreferrer" }}
            />
          </li>
          <li>
            <FooterLink
              href={linkedinLink}
              text="LinkedIn"
              attributes={{ target: "_blank", rel: "noreferrer" }}
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
